body{
    background-color: rgba(134, 134, 134, 0.404);
    margin: 0rem;
    padding: 0rem;
}

a{
    color:black;
    
}
a:hover{
    color:black;
    text-decoration: none;
}

a:visited{
    color: black;
   
}