@import 'reset.scss';

.sectionApi{
    display: flex;
    justify-content: center;
    flex-direction: column;
    
    h1{
        text-align: center;
        font-style: italic;
        text-decoration: underline;
        font-variant: small-caps;
        color: white;
        font-weight: bold;
        font-size: 4rem;
    }
    #displayApi{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        width: 50rem;
        height: 30rem;
        margin: auto;
        border: double rgb(158, 156, 156) 0.5rem;
        background-color: white;
        box-shadow: black 5px 5px 5px;
        font-size: 3rem;
        text-shadow: grey 3px 5px 5px;
        overflow: auto;
        padding: 5px;
        text-align: justify;
    }
    
}